---
layout: default
---
<style media="screen" type="text/css">

.post-tag ul li a:visited {background-color: inherit;}

</style>

<header class="header">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
</header>

<p align="justify" style="line-height:1.3; font-size:100%;">
I am a tenured research scientist (<i>chargé de recherche</i> ) at Inria Rennes in the MimeTIC research team. Previously I was a a postdoctoral researcher at the University of Oxford in Torr Vision Group. I completed my PhD at Inria Grenoble in the Morpheo research team.
</p>

<h5 style="margin:0">Open positions:</h5>
<p style="line-height:1.3;font-size:80%;">
<a href="https://jobs.inria.fr/public/classic/en/offres/2020-02420"> PhD </a>: Neural novel view synthesis of dynamic people in monocular videos.<br/>
<a href="https://jobs.inria.fr/public/classic/en/offres/2020-02493"> Engineer </a>: 3D Human Pose Estimation from a Single Image with Deep Learning. 
<p/>

<h2 id="Research"> Research </h2>
<div class="list">

<img src="images/cross.png" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   
<h5 style="margin:0"> Cross-modal Deep Face Normals with Deactivable Skip Connections</h5>
<p style="line-height:1.3; margin-bottom:0;  font-size:80%;">
V. Abrevaya, A. Boukhayma, P. Torr, E. Boyer<br/> 
<i>CVPR 2020 (Oral)</i></p> 
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="https://arxiv.org/abs/2003.09691">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a>
          <span>Code</span>
        </a>
      </li>
      <li>
        <a>
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT>


<img src="images/dg.png" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   
<h5 style="margin:0"> DGPose: Deep Generative Models for Human Body Analysis</h5>
<p style="line-height:1.3; margin-bottom:0;  font-size:80%;">
R. de Bem, A. Ghosh, T. Ajanthan, O. Miksik, A. Boukhayma, N. Siddharth, P. Torr<br/> 
<i>IJCV 2020</i></p> 
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="https://arxiv.org/abs/1804.06364">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a>
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT>


<img src="images/face.png" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   
<h5 style="margin:0"> A Decoupled 3D Facial Shape Model by Adversarial Training</h5>
<p style="line-height:1.3; margin-bottom:0;  font-size:80%;">
V. Abrevaya, A. Boukhayma, S. Wuhrer, E. Boyer<br/> 
<i>ICCV 2019 (Oral)</i></p> 
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="https://arxiv.org/abs/1902.03619">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a>
          <span>Code</span>
        </a>
      </li>
      <li>
        <a href="https://hal.archives-ouvertes.fr/hal-02064711v3/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT>


<img src="images/hand.png" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   
<h5 style="margin:0">3D Hand Shape and Pose from Images in the Wild</h5>
<p style="line-height:1.3; margin-bottom:0; font-size:80%;">
A. Boukhayma, R. de Bem, P. Torr<br/> 
<i>CVPR 2019 (Oral)</i></p> 
<div class="post-tag">
    <ul style="margin-top:0">    
      <li>
        <a href="https://arxiv.org/abs/1902.03451">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/boukhayma/3dhand">
          <span>Code</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/boukhayma/3dhand">
          <span>Data</span>
        </a>
      </li>
      <li>
        <a>
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div>
<BR CLEAR=LEFT>


<img src="images/wacv3.png" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   

<h5 style="margin:0"> A Conditional Deep Generative Model of People in Natural Images</h5>
<p style="line-height:1.3; margin-bottom:0;  font-size:80%;">
R. de Bem, A. Ghosh, A. Boukhayma, T. Ajanthan, N. Siddharth, P. Torr<br/> 
<i>WACV 2019</i></p> 
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="https://www.robots.ox.ac.uk/~tvg/publications/2018/290.pdf">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a>
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT>


<img src="images/faces.png" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   

<h5 style="margin:0"> Domain Partitioning Network </h5>
<p style="line-height:1.3; margin-bottom:0;  font-size:80%;">
B. Csaba, A. Boukhayma, V. Kulharia, A. Horváth, P. Torr<br/> 
<i>arXiv preprint 2019</i></p> 
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="https://arxiv.org/abs/1902.08134">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a>
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT>


<img src="images/teaser.jpg" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   

<h5 style="margin:0"> Surface Motion Capture Animation Synthesis</h5>
<p style="line-height:1.3; margin-bottom:0;  font-size:80%;">
A. Boukhayma, E. Boyer<br/> 
<i>TVCG 2018</i></p> 
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="https://hal.inria.fr/hal-01781164/document">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01781164/file/supplemental.mp4">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01781164v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT>
 
<img src="images/0000.png" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   

<h5 style="margin:0"> Controllable Variation Synthesis for Surface Motion Capture</h5>
<p style="line-height:1.3; margin-bottom:0;  font-size:80%;">
A. Boukhayma, E. Boyer<br/> 
<i>3DV 2017</i></p>
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="https://hal.inria.fr/hal-01590648/document">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01590648/file/3.mp4">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01590648/file/poster.pdf">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01590648v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT>

<img src="images/cvpr.png" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   

<h5 style="margin:0"> Surface Motion Capture Transfer with Gaussian Process Regression</h5>
<p style="line-height:1.3; margin-bottom:0;  font-size:80%;">
A. Boukhayma, J. Franco, E. Boyer<br/> 
<i>CVPR 2017</i></p>
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="https://hal.inria.fr/hal-01491386/document">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01491386/file/68.mp4">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01491386v2/file/cvpr_poster.pdf">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01491386v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT> 

<img src="images/interp2.png" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   

<h5 style="margin: 0"> Eigen Appearance Maps of Dynamic Shapes</h5>
<p style="line-height:1.3; margin-bottom:0;  font-size:80%;">
A. Boukhayma, V. Tsiminaki, J. Franco, E. Boyer<br/> 
<i>ECCV 2016</i></p>
<div class="post-tag">
    <ul>    
      <li>
        <a href="https://hal.inria.fr/hal-01348837/document">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01348837/file/EigenAppearance.mp4">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01348837/file/Poster.pdf">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01348837/file/Data_EigenAppearance.zip">
          <span>Data</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01348837v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div>   
<BR CLEAR=LEFT>

<img src="images/synth.png" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   

<h5 style="margin: 0"> Video based Animation Synthesis with the Essential Graph</h5>
<p style="line-height:1.3; margin-bottom:0;  font-size:80%;">
A. Boukhayma, E. Boyer<br/> 
<i>3DV 2015 (Oral)</i></p>
<div class="post-tag">
    <ul>    
      <li>
        <a href="https://hal.inria.fr/hal-01212168/document">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01212168/file/EssGraph%20%281%29.mp4">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01212168/file/Poster_3dv.pdf">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01212168/file/presentation.pdf">
          <span>Slides</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01212168/file/Data.zip">
          <span>Data</span>
        </a>
      </li>
     <li>
        <a href="https://hal.inria.fr/hal-01212168v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div>   
<BR CLEAR=LEFT>        

<img src="images/2d_mesh.png" width="128" class="pull-left" style="margin:10px 20px 0px 0px">   

<h5 style="margin: 0"> Surface Motion Capture Animation</h5>
<p style="line-height:1.3; margin-bottom:0; font-size:80%;">
A. Boukhayma<br/> 
<i>PhD thesis</i></p>
<div class="post-tag">
    <ul>    
      <li>
        <a href="https://hal.inria.fr/tel-01665203/document">
          <span>Thesis</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/tel-01665203/file/phd%20%281%29.pptx">
          <span>Slides</span>
        </a>
      </li>
     <li>
        <a href="https://hal.inria.fr/tel-01665203v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div>   
<BR CLEAR=LEFT>  

</div>

  
<h2 id="Data"> Data </h2>

<div class="list">

<img src="images/hands2.png" width="128" class="pull-left" style="margin:0px 20px 0px 0px">   

<a href="https://github.com/boukhayma/3dhand">
Synthetic 3D Hands
</a>
<BR CLEAR=LEFT>
<BR CLEAR=LEFT> 

<img src="images/out.png" width="128" class="pull-left" style="margin:0px 20px 0px 0px">   

<a href="https://hal.inria.fr/hal-01348837/file/Data_EigenAppearance.zip">
4D Human Appearance and Shape in Motion
</a>
<BR CLEAR=LEFT>
<BR CLEAR=LEFT>  

<img src="images/in.png" width="128" class="pull-left" style="margin:0px 20px 0px 0px">   

<a href="https://hal.inria.fr/hal-01212168/file/Data.zip">
4D Human Shape in Motion
</a>
<BR CLEAR=LEFT>
<BR CLEAR=LEFT>  

</div>

<!--Temporally coherent mesh motion sequences, with 5000 vertices and 10000 faces per mesh
and a frame rate of 50fps, with Back-ground segmented images for each of the 68 capture
views: 2048x2048 px, and Texture maps: 4096x4096 px. 207 frames of an actor walking,
running, turning left and right, and 290 frames of an actress jumping far, close, high and low.--> 

<!--Temporally coherent mesh motion sequences, with 5000 vertices and 10000 faces per mesh,
and a frame rate of 50fps. 2633 frames of an actor performing basic locomotion activities,
and 1910 frames of an actress performing random dancing. -->

<h2 id="Teaching"> Teaching </h2>

<div>2016-2017</div>
<ul>
<li>
Universit&eacute; Grenoble Alpes - L1<br />
<a href="https://dlst.ujf-grenoble.fr/index.php?module=ue&amp;idue=738&amp;annee=2011">MAT102</a> : <strong>Math&eacute;matiques outils pour les sciences et l&#39;ing&eacute;nierie</strong> - Cours + TD (76h)</li>
</ul>
<div>2014-2015</div>
<ul>
<li>
Universit&eacute; Grenoble Alpes - L1&nbsp;<br />
<a href="https://dlst.ujf-grenoble.fr/index.php?module=ue&amp;idue=738&amp;annee=2011">MAT116</a> : <strong>Math&eacute;matiques outils pour les sciences et l&#39;ing&eacute;nierie</strong>&nbsp;- Cours + TD (64h)</li>
</ul>
<div>2013-2014</div>
<ul>
<li>
Universit&eacute; Grenoble Alpes - L1<br />
<a href="https://dlst.ujf-grenoble.fr/index.php?module=ue&amp;idue=738&amp;annee=2011">MAT116</a> : <strong>Math&eacute;matiques outils pour les sciences et l&#39;ing&eacute;nierie</strong>&nbsp;- Cours + TD (46h)</li>
<li>
Universit&eacute; Grenoble Alpes - L2<br />
<a href="https://dlst.ujf-grenoble.fr/index.php?module=ue&amp;idue=188&amp;annee=2011">STA230</a> : <strong>Statistiques pour la biologie</strong>&nbsp;- TP (18h)</li>
</ul>
</li>

<h2 id="Contact"> Contact </h2>

<p style="line-height:1.3; font-size:100%;">
Inria Rennes - Bretagne Atlantique, Bureau E105</br>
Campus de Beaulieu, 263 Avenue Général Leclerc</br>
35042 Rennes</br>
France</br></br>

<i class="fa fa-envelope" aria-hidden="true"></i>  &nbsp adnane.boukhayma(at)inria.fr

</p>

</div>
