---
layout: default
---
<style media="screen" type="text/css">

.post-tag ul li a:visited {background-color: inherit;}


</style>



<header class="header">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
</header>

I am a PhD student in Computer Vision at INRIA Rhône-Alpes research institute, and teacher assistant at Université Grenoble Alpes.  

<h2 id="research"> Research </h2>
<div class="list">

<img src="images/teaser.jpg" width="128" class="pull-left" style="margin:10px 10px 0px 0px">   

<h5 style="margin:0"> Surface Motion Capture Animation Synthesis</h5>
A. Boukhayma, E. Boyer. TVCG 2018
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="https://hal.inria.fr/hal-01590648/document">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01590648/file/3.mp4">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01590648/file/poster.pdf">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01590648v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT>
 
<img src="images/3dv17.png" width="128" class="pull-left" style="margin:10px 10px 0px 0px">   

<h5 style="margin:0"> Controllable Variation Synthesis for Surface Motion Capture</h5>
A. Boukhayma, E. Boyer. 3DV 2017
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="https://hal.inria.fr/hal-01590648/document">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01590648/file/3.mp4">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01590648/file/poster.pdf">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01590648v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT>

<img src="images/cvpr.png" width="128" class="pull-left" style="margin:10px 10px 0px 0px">   

<h5 style="margin:0"> Surface Motion Capture Transfer with Gaussian Process Regression</h5>
A. Boukhayma, J. Franco, E. Boyer. CVPR 2017
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="https://hal.inria.fr/hal-01491386/document">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01491386/file/68.mp4">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01491386v2/file/cvpr_poster.pdf">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01491386v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT> 

<img src="images/interp2.png" width="128" class="pull-left" style="margin:10px 10px 0px 0px">   

<h5 style="margin: 0"> Eigen Appearance Maps of Dynamic Shapes</h5>
A. Boukhayma, V. Tsiminaki, J. Franco, E. Boyer. ECCV 2016
<div class="post-tag">
    <ul>    
      <li>
        <a href="https://hal.inria.fr/hal-01348837/document">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01348837/file/EigenAppearance.mp4">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01348837/file/Poster.pdf">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01348837/file/Data_EigenAppearance.zip">
          <span>Data</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01348837v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div>   
<BR CLEAR=LEFT>

<img src="images/3d_tex.png" width="128" class="pull-left" style="margin:10px 10px 0px 0px">   

<h5 style="margin: 0"> Video based Animation Synthesis with the Essential Graph</h5>
A. Boukhayma, E. Boyer. 3DV 2015
<div class="post-tag">
    <ul>    
      <li>
        <a href="https://hal.inria.fr/hal-01212168/document">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01212168/file/EssGraph%20%281%29.mp4">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01212168/file/Poster_3dv.pdf">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01212168/file/presentation.pdf">
          <span>Slides</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/hal-01212168/file/Data.zip">
          <span>Data</span>
        </a>
      </li>
     <li>
        <a href="https://hal.inria.fr/hal-01212168v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div>   
<BR CLEAR=LEFT>        

<img src="images/2d_mesh.png" width="128" class="pull-left" style="margin:10px 10px 0px 0px">   

<h5 style="margin: 0"> Surface Motion Capture Animation</h5>
A. Boukhayma, PhD thesis
<div class="post-tag">
    <ul>    
      <li>
        <a href="https://hal.inria.fr/tel-01665203/document">
          <span>Thesis</span>
        </a>
      </li>
      <li>
        <a href="https://hal.inria.fr/tel-01665203/file/phd%20%281%29.pptx">
          <span>Slides</span>
        </a>
      </li>
     <li>
        <a href="https://hal.inria.fr/tel-01665203v1/bibtex">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div>   
<BR CLEAR=LEFT>  

</div>

  
<h2 id="data"> Data </h2>
<div> 
<a href="https://hal.inria.fr/hal-01348837/file/Data_EigenAppearance.zip">
4D Human Appearance and Shape in Motion<br/>
</a>
<!--Temporally coherent mesh motion sequences, with 5000 vertices and 10000 faces per mesh
and a frame rate of 50fps, with Back-ground segmented images for each of the 68 capture
views: 2048x2048 px, and Texture maps: 4096x4096 px. 207 frames of an actor walking,
running, turning left and right, and 290 frames of an actress jumping far, close, high and low.--> 
</div>
<div>
<a href="https://hal.inria.fr/hal-01212168/file/Data.zip">
4D Human Shape in Motion<br/>
</a>
<!--Temporally coherent mesh motion sequences, with 5000 vertices and 10000 faces per mesh,
and a frame rate of 50fps. 2633 frames of an actor performing basic locomotion activities,
and 1910 frames of an actress performing random dancing. -->
</div>

<h2 id="teaching"> Teaching </h2>

<div>2016-2017</div>
<ul>
<li>
Universit&eacute; Grenoble Alpes - L1<br />
<a href="https://dlst.ujf-grenoble.fr/index.php?module=ue&amp;idue=738&amp;annee=2011">MAT102</a> : <strong>Math&eacute;matiques outils pour les sciences et l&#39;ing&eacute;nierie</strong> - Cours + TD (76h)</li>
</ul>
<div>2014-2015</div>
<ul>
<li>
Universit&eacute; Grenoble Alpes - L1&nbsp;<br />
<a href="https://dlst.ujf-grenoble.fr/index.php?module=ue&amp;idue=738&amp;annee=2011">MAT116</a> : <strong>Math&eacute;matiques outils pour les sciences et l&#39;ing&eacute;nierie</strong>&nbsp;- Cours + TD (64h)</li>
</ul>
<div>2013-2014</div>
<ul>
<li>
Universit&eacute; Grenoble Alpes - L1<br />
<a href="https://dlst.ujf-grenoble.fr/index.php?module=ue&amp;idue=738&amp;annee=2011">MAT116</a> : <strong>Math&eacute;matiques outils pour les sciences et l&#39;ing&eacute;nierie</strong>&nbsp;- Cours + TD (46h)</li>
<li>
Universit&eacute; Grenoble Alpes - L2<br />
<a href="https://dlst.ujf-grenoble.fr/index.php?module=ue&amp;idue=188&amp;annee=2011">STA230</a> : <strong>Statistiques pour la biologie</strong>&nbsp;- TP (18h)</li>
</ul>
</li>

<h2 id="contact"> Contact </h2>

INRIA Grenoble Rhône-Alpes</br>
655, avenue de l'Europe</br>
38334 Saint Ismier - FRANCE</br></br>
<ul>
      <li>adnane.boukhayma@gmail.com</li>
      <li>+33 476 61 54 49</li>
</ul>

</div>
