---
layout: default
---
<header class="header">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
</header>

I am a PhD student in Computer Vision at INRIA Rhône-Alpes research institute, and teacher assistant at Université Grenoble Alpes.  

<h2 id="research"> Research </h2>
<div class="list"> 

<h4 style="margin:0"> Surface Motion Capture Transfer with Gaussian Process Regression</h4>
A. Boukhayma, J. Franco, E. Boyer. CVPR 2017
<div class="post-tag">
    <ul style="margin-bottom:0">    
      <li>
        <a href="http://localhost:4000/tags#test">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="http://localhost:4000/tags#style">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="http://localhost:4000/tags#style">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="http://localhost:4000/tags#style">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div> 
<BR CLEAR=LEFT> 

<h4 style="margin: 0"> Eigen Appearance Maps of Dynamic Shapes</h4>
A. Boukhayma, V. Tsiminaki, J. Franco, E. Boyer. ECCV 2016
<div class="post-tag">
    <ul>    
      <li>
        <a href="http://localhost:4000/tags#test">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="http://localhost:4000/tags#style">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="http://localhost:4000/tags#style">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="http://localhost:4000/tags#style">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div>   
<BR CLEAR=LEFT>

<h4 style="margin: 0"> Video based Animation Synthesis with the Essential Graph</h4>
A. Boukhayma, E. Boyer. 3DV 2015
<div class="post-tag">
    <ul>    
      <li>
        <a href="http://localhost:4000/tags#test">
          <span>Paper</span>
        </a>
      </li>
      <li>
        <a href="http://localhost:4000/tags#style">
          <span>Video</span>
        </a>
      </li>
      <li>
        <a href="http://localhost:4000/tags#style">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a href="http://localhost:4000/tags#style">
          <span>Bib</span>
        </a>
      </li>
    </ul>
</div>   
<BR CLEAR=LEFT>        

</div>

  
<h2 id="data"> Data </h2>

<ul>

</ul>

<h2 id="teaching"> Teaching </h2>

<ul>
  
</ul>

<h2 id="Contact"> Contact </h2>

<ul>
  
</ul>

</div>
